<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("Partials/Head")
<body>
    <!-- Header -->
    @await Html.PartialAsync("Partials/Header")
    <!-- Body -->
    @RenderBody();
    <!-- Footer -->
    @await Html.PartialAsync("Partials/Footer")
    <!-- Js -->
    @await Html.PartialAsync("Partials/Js")
</body>
</html>
